
:root {
  --font-color: #2d3436;
  --body-bg-color: #f7f1e3;
  --container-bg-color: #55efc4;
  --todo-bg-color: #00b894;
  --done-bg-color: #2ed573;
  --svg-normal-color: #2d3436;
  --svg-hover-color: #0984e3;
  --svg-complete-color: #0984e3;
  --svg-remove-color: #d63031;
  --svg-remove-hover-color: #ff4757;
}

*{

  align-self: center;
  align-items: center;
  
}

.lists {
  /* text-align: center; */
  background-color:rgb(252, 201, 139);
  border: solid;
  border-radius: 10px;
  padding: 20px;
  font-family: 'VT323';
  width: 300px; 
  max-height: 700px;
}

h1, h2{
  text-align: center;
}

.lists, header, .buttons{
  position: relative; 
  right: 400px;          
}

button{
  padding: 5px;
  border-radius: 10px;
  font-family: 'VT323';
  cursor: pointer;
  background-color:antiquewhite ;
}

button:hover{
  background-color:rgb(52, 102, 195);
  color: cornsilk;
}

input{
  font-family: 'VT323';
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

header{
  height: 40px;
}

#add{
  font-family: 'VT323';
}

.app {
  text-align: center;
}


.DialogBox {
  /*image-rendering: 'pixelated';
  align-items: center;*/
  align-self: center;
  background-color: rgb(252, 201, 139)/*#e2b27e*/;
  border: solid;
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  margin: '0 auto';
  top: 90%;
  /*text-align: center;*/
  margin-right: -30%;
  width: 500px;
  right: 10px; 
  /* text-transform: uppercase; */
}

.dialogTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'VT323';
}

.dialogFooter {
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: end;
  font-family: 'VT323';
  margin-left: 90%;
}

.DialogMessage{
  font-size: 15 px;
  font-family: 'VT323';
}

.PointBox{
  border:solid;
  background-color: bisque;
  border-radius: 10px;
  /* text-align: center; */
  padding: 10px;
  font-size:x-large;
  font-family: 'VT323';
  font-weight: bold;
  text-transform: uppercase;
  /* transition: width 2s, height 4s; 
  animation-name: pointplus;
  animation-duration: 1s;*/
  width: 150px;
  max-width: 150px;
  height: 100px;
  position: absolute;
  left: 1090px;
}

.goalbox{
  /* height: 50px; */
  /*width: 100px;*/
  position: relative;
  border: solid;
  border-radius: 10px;
  padding: 12px 20px;
  right: 90%;
  resize: vertical;
}

.thoghtbox{
  background-color:rgb(178, 240, 230);
  border: solid;
  border-radius: 10px;
  padding: 15px;
  /* position: absolute; */
  margin: '0 auto';
  /* top: 90%;
  text-align: center;
  margin-right: -30%;
  right: 10px;  */
  position: absolute;
  width: 300px;
  max-height: 500px;
  left: 600px;
  top: 200px;
  font-family: 'VT323';
}

.thoghtbox::after{
  content: \a;
  white-space: pre;
}
